@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-padding: 0rem 10rem;
  --black: #000000;
  --dark: #1c1d30;
  --red: #d02929;
  --smoke: #f5f5f5;
  --white: #ffffff;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.small-preview {
  width: 75%;
  height: 100%;
}

img {
  width: 300px;
  height: 300px;
}

.view {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  padding: 0;
  margin: 0;
}
